.friendMessage {

}

.friendImageAndText {
    display: flex;
    margin-left: 30px;
    justify-content: left;

}

.friendImageAndText img {

}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
